{% extends "basic.html" %}

{% block content %}
<div class="container">
    <h4>A propos</h4>
    <p>
        Donec quis odio a urna vehicula molestie. Nunc rutrum tincidunt dui. 
        Nunc et mollis tellus, vitae convallis purus. Curabitur elementum eget metus sit amet lacinia. 
        Pellentesque sagittis placerat vestibulum. Duis dictum porttitor est, convallis ultrices nunc elementum auctor. 
        Vivamus accumsan placerat justo vel semper. Pellentesque tellus nunc, egestas ut luctus quis, pellentesque tempus risus. 
        Nullam aliquet tristique justo. 
    </p>
    <h5>Contributeurs :</h5>
    <ul>
        <li>- Multim </li>
        <li>- Maxime</li>
    </ul>
</div>

{% endblock %}
